* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 14px;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


header {
  background: #89b5d7;
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  padding-bottom: 40px;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

header nav {
  text-align: right;
  margin-top: 15px;
}

header nav a {
  color: #141f38;
  font-size: 18px;
  margin-left: 15px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #89b5d7;
}

header nav a:hover {
  color: #d97d3c;
  background-color: #f4c253;
  border: 1px solid #d97d3c;
  border-radius: 5px;
  text-decoration: none;
}

header nav .active  {
  color: #f4c253;
  /*background-color: rgba(244,194,83,0.5);*/
  border: 1px solid #f4c253;
  border-radius: 5px;
  text-decoration: none;
}

.main-image {
  background:  url(../images/dog-playing.png);
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-image h1 {
  font-size: 44px;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black;
}

.main-image h2 {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 1px 0 black;
}

.blue-box {
  background: #244475;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.title {
  color: #244475;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title2 {
  margin-bottom: 0;
}

.title h1 {
  margin: 15px 0 0;
  font-size: 24px;
  font-weight: 700;
}

.title3 h1 {
  margin: 0;
}

.pictures-content figure {
  margin-bottom: 30px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.box-column {
  background: #89b5d7;
  padding: 15px;
  min-height: 525px;
  margin-top: 30px;
}

.box-column h3 {
  color: #141f38;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-column p {
  color: #fff;
}

.box-column ol {
  color: #fff;
  list-style-position: inside;
}

footer {
  background: #141f38;
  color: #89b5d7;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer h3 {
  font-weight: 700;
  padding-bottom: 15px;
}

footer ul {
  list-style: none;
  line-height: 1.8;
}

footer ul li a {
  color: #89b5d7;
}

footer ul li a:hover {
  color: #f4c253;
  text-decoration: none;
}

footer ul li a:active {
  color: #89b5d7;
}

footer .mobil-number {
  color: #d97d3c;
  border: 1px solid #d97d3c;
  border-radius: 5px;
  padding: 7px;
  display: inline-block;
}

footer .mobil-number span {
  font-size: 20px;
  white-space: nowrap;
  vertical-align: top;
}

@media (max-width: 1199px) {
  .box-column {
    min-height: 600px;
  }
}


@media (max-width: 991px) {
  header h1 {
    background-position: top center;
  }

  header nav {
    text-align: center;
  }

  header nav a {
    border: 1px solid rgba(20, 31, 56, 0.25);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
  }

  header nav a:first-child {
    margin-left: 0;
  }

  .main-image h1 {
    font-size: 24px;
  }

  .main-image h2 {
    font-size: 14px;
  }

  .box-column {
    min-height: 492px;
  }

  footer {
    padding-top: 0;
    text-align: center;
  }

  footer h3 {
    padding-bottom: 0;
    padding-top: 15px;
    margin-bottom: 3px;
  }

  footer .last h3 {
    border-bottom: none;
  }

}

@media (max-width: 767px) {
  header nav a {
    border: 1px solid rgba(20, 31, 56, 0.25);
    border-radius: 5px;
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .box-column {
    min-height: 0;
  }
}

/*@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}*/
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.help {
  text-align: center;
}
